.AppFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(-43deg, #787878 0%, #504f50 46%, #010101 100%);
    color: white;
    text-decoration: none!important;
    // visibility: hidden;

    &-discord {
      @include icons;
      @include responds(phone) {
        font-size: $icon-font-size-small;
      }
    }

    &-instagram {
      @include icons;
      @include responds(phone) {
        font-size: $icon-font-size-small;
      }
    }

    &-twitter {
      @include icons;
      @include responds(phone) {
        font-size: $icon-font-size-small;
      }
    }

}
  
a:link {
  text-decoration: none;
}