

.App__header {
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    height: 85vh;
    z-index: 2;
    // background-color: grey;
    background-image: linear-gradient(
        to right bottom,
        rgba(#787878, 0.0),
        rgba(#010101, 0.0)),
    url("images/IMG_4916.jpeg");

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @include responds(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        background-image: linear-gradient(
        to right bottom,
        rgba(#787878, 0.0),
        rgba(#010101, 0.0)),
        url("images/portraitHeader.jpeg");
    }

    &-authorName {
        width: 100%;
        height: 100%;
        // display: flex;
        color: rgb(255, 255, 255);
        // justify-content: center;
        margin-top: 20rem;
        // align-items: center;
        font-size: 50px;
        font-family: 'Playfair Display', serif;

        // TODO: need to make the text be a little above center at all times
        @include responds(phone) {
            margin-top: 10rem;
        }
    }

    &-icons {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 17rem;
        @include responds(phone) {
            width: 7rem;
        }
        height: 50px;
        top:.5rem;
        right: .5rem;
        position: absolute;
    }
}