/* Unlockable content section */
.AboutMe {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  color: $color-white;
  align-items: center;
  justify-content: center;
  // background-color: #00dbde;
  background-image: linear-gradient(
        to right bottom,
        rgba(#787878, 0.4),
        rgba(#010101, 0.4)),
    url("images/IMG_4916.jpeg");
  transform: skewY(-7deg);

  &-title {
    text-decoration: underline;
    // line-height: 2rem;
  }

  @include responds(phone) {
    transform: skewY(-13deg);
  }

  &-submit {
    margin: 1rem;
  }

  &-help-tip {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #cfd1d3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;

    &_link {
      text-decoration: underline;
      color: $color-white;
      border-bottom: 1px solid white;

    }
  }
  &-help-tip:before {
    content: "?";
    font-weight: bold;
    color: $color-white;
  }
  &-help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  }
  &-help-tip p {
    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1e2021;
    padding: 20px;
    width: 400px;
    @include responds(phone) {
      width: 275px;
    }
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: $color-white;
    font-size: 1.2rem;
    line-height: 1.4;
    z-index: 1;
  }
  &-help-tip p:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1e2021;
    right: 10px;
    top: -12px;
  }
  &-help-tip p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }

    100% {
      opacity: 100%;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  &-form {
    padding: 0.8rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    width: 30vw;
    max-width: 505px;
    @include responds(phone) {
      width: 40vw;
    }
    border-radius: 10rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
  }

  &-error {
    padding-top: 6rem;
  }

  &-validCode {
    padding-top: 6rem;
  }

  &-container {
    padding: 3rem 1rem 4rem 1rem;
    transform: skewY(7deg);
    @include responds(phone) {
      transform: skewY(13deg);
    }
  }

  &-description {
    padding: 5px;
    margin: 0 2rem 3rem 2rem;
    font-size: 3rem;
    @include responds(phone) {
      font-size: 1.5rem;
    }
  }
}
.FormInfo {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AddressForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  width: 100%;
}
.validCode {
  color: lightgreen;
  // padding-top: 4rem;
}
