@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
.btn2, .btn2:link, .btn2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .8rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn2, .btn2:link, .btn2:visited {
      padding: .5rem 2rem; } }

.btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn2:hover::after {
    transform: scaleX(0.4) scaleY(0.6);
    opacity: 0; }

.btn2:active, .btn2:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn2--white {
  background-color: #fff;
  color: #777; }
  .btn2--white::after {
    background-color: #fff; }

.btn2--green {
  background-color: teal;
  color: #fff; }
  .btn2--green::after {
    background-color: teal; }

.btn2::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn2--animated {
  animation: moveInBottom .75s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: linear-gradient(to right bottom, rgba(120, 120, 120, 0), rgba(1, 1, 1, 0));
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid linear-gradient(to right bottom, rgba(120, 120, 120, 0), rgba(1, 1, 1, 0));
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: linear-gradient(to right bottom, rgba(120, 120, 120, 0), rgba(1, 1, 1, 0));
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.padtop {
  margin: 6rem 1rem 1rem 1rem; }

/* Unlockable content section */
.AboutMe {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, rgba(120, 120, 120, 0.4), rgba(1, 1, 1, 0.4)), url("images/IMG_4916.jpeg");
  transform: skewY(-7deg); }
  .AboutMe-title {
    text-decoration: underline; }
  @media only screen and (max-width: 37.5em) {
    .AboutMe {
      transform: skewY(-13deg); } }
  .AboutMe-submit {
    margin: 1rem; }
  .AboutMe-help-tip {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #cfd1d3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default; }
    .AboutMe-help-tip_link {
      text-decoration: underline;
      color: #fff;
      border-bottom: 1px solid white; }
  .AboutMe-help-tip:before {
    content: "?";
    font-weight: bold;
    color: #fff; }
  .AboutMe-help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out; }
  .AboutMe-help-tip p {
    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1e2021;
    padding: 20px;
    width: 400px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.4;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .AboutMe-help-tip p {
        width: 275px; } }
  .AboutMe-help-tip p:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1e2021;
    right: 10px;
    top: -12px; }
  .AboutMe-help-tip p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: "";
    position: absolute;
    top: -40px;
    left: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
  .AboutMe-form {
    padding: 0.8rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    width: 30vw;
    max-width: 505px;
    border-radius: 10rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .AboutMe-form {
        width: 40vw; } }
  .AboutMe-error {
    padding-top: 6rem; }
  .AboutMe-validCode {
    padding-top: 6rem; }
  .AboutMe-container {
    padding: 3rem 1rem 4rem 1rem;
    transform: skewY(7deg); }
    @media only screen and (max-width: 37.5em) {
      .AboutMe-container {
        transform: skewY(13deg); } }
  .AboutMe-description {
    padding: 5px;
    margin: 0 2rem 3rem 2rem;
    font-size: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .AboutMe-description {
        font-size: 1.5rem; } }

.FormInfo {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.AddressForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  width: 100%; }

.validCode {
  color: lightgreen; }

.App__header {
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  height: 85vh;
  z-index: 2;
  background-image: linear-gradient(to right bottom, rgba(120, 120, 120, 0), rgba(1, 1, 1, 0)), url("images/IMG_4916.jpeg"); }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .App__header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (max-width: 37.5em) {
    .App__header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      background-image: linear-gradient(to right bottom, rgba(120, 120, 120, 0), rgba(1, 1, 1, 0)), url("images/portraitHeader.jpeg"); } }
  .App__header-authorName {
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 20rem;
    font-size: 50px;
    font-family: 'Playfair Display', serif; }
    @media only screen and (max-width: 37.5em) {
      .App__header-authorName {
        margin-top: 10rem; } }
  .App__header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 17rem;
    height: 50px;
    top: .5rem;
    right: .5rem;
    position: absolute; }
    @media only screen and (max-width: 37.5em) {
      .App__header-icons {
        width: 7rem; } }

.Nft__card {
  width: 100%;
  padding: 5rem 2rem 6rem 2rem; }
  .Nft__card-description {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px; }
  .Nft__card-component {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.AdditionalInformation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  width: 100%; }
  .AdditionalInformation-description {
    padding: 15rem 2rem 2rem 2rem;
    font-size: 25px;
    max-width: 900px; }
    @media only screen and (max-width: 37.5em) {
      .AdditionalInformation-description {
        padding-top: 10rem; } }
  .AdditionalInformation-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-bottom: 10rem; }
  .AdditionalInformation-name {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 900px;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 4rem;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  .AdditionalInformation-email {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 900px;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 4rem;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  .AdditionalInformation-message {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 900px;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 4rem;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    height: 40px;
    resize: none;
    max-height: 200px;
    overflow: hidden; }

.AppFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(-43deg, #787878 0%, #504f50 46%, #010101 100%);
  color: white;
  text-decoration: none !important; }
  .AppFooter-discord {
    margin: auto;
    color: #fff;
    text-decoration: none !important;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .AppFooter-discord {
        font-size: 1.2rem; } }
  .AppFooter-instagram {
    margin: auto;
    color: #fff;
    text-decoration: none !important;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .AppFooter-instagram {
        font-size: 1.2rem; } }
  .AppFooter-twitter {
    margin: auto;
    color: #fff;
    text-decoration: none !important;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .AppFooter-twitter {
        font-size: 1.2rem; } }

a:link {
  text-decoration: none; }

a.btn {
  background: teal;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out; }

.no-touch a.btn:hover {
  background: #008d8d;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out; }

.no-touch a.btn:active,
a.btn:active {
  background: #007373;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out; }

div.cards {
  margin: 60px 80px; }
  @media only screen and (max-width: 37.5em) {
    div.cards {
      margin: 40px 40px; } }

div.card {
  background: white;
  color: #444444;
  display: inline-block;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3); }
  div.card-offerLink {
    padding: 0 15px 10px; }
  div.card img {
    max-width: 300px; }
  div.card .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    padding-bottom: 75%; }
  div.card div.card-title {
    background: white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0; }
    div.card div.card-title a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px; }
      div.card div.card-title a.toggle-info span {
        background: white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px; }
      div.card div.card-title a.toggle-info span.left {
        right: 14px;
        transform: rotate(45deg); }
      div.card div.card-title a.toggle-info span.right {
        left: 14px;
        transform: rotate(-45deg); }
    div.card div.card-title h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0; }
      div.card div.card-title h2 small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em; }
  div.card div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px; }
  div.card div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center; }
  div.card div.card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg); }
  div.card div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15); }
  div.card div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2; }

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88); }

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92); }

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important; }
  div.card.show div.card-title a.toggle-info {
    background: salmon !important; }
    div.card.show div.card-title a.toggle-info span {
      top: 15px; }
    div.card.show div.card-title a.toggle-info span.left {
      right: 10px; }
    div.card.show div.card-title a.toggle-info span.right {
      left: 10px; }
  div.card.show div.card-flap {
    background: white;
    transform: rotateX(0deg); }
  div.card.show div.flap1 {
    transition: all 0.3s 0s ease-out; }
  div.card.show div.flap2 {
    transition: all 0.3s 0.2s ease-out; }

.AddressForm {
  width: 100%;
  height: 100%;
  padding: 3rem; }
  .AddressForm-email {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 400px;
    color: #fff;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px; }
  .AddressForm-email::placeholder {
    color: #fff; }
  .AddressForm-address {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 400px;
    color: #fff;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px; }
  .AddressForm-address::placeholder {
    color: #fff; }
  .AddressForm-country {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 400px;
    color: #fff;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px; }
  .AddressForm-country::placeholder {
    color: #fff; }
  .AddressForm-region {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 400px;
    color: #fff;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px; }
  .AddressForm-region::placeholder {
    color: #fff; }
  .AddressForm-zipCode {
    outline: none;
    display: block;
    width: 60vw;
    max-width: 400px;
    color: #fff;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ada9a9;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px; }
  .AddressForm-zipCode::placeholder {
    color: #fff; }
  .AddressForm-unlockCode {
    visibility: hidden; }

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100%; }
  .App-container {
    padding: 1.1em; }
    .App-container-2 {
      width: 100%;
      height: 100%;
      background-color: #f0f0f0; }
    @media only screen and (max-width: 37.5em) {
      .App-container {
        padding: 0; } }

.UserError {
  color: #c00000; }

.UserSuccess {
  color: #069412; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', serif; }
